<div class="span14">
	<h2>Phone Models</h2>
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Make</th>
				<th>Model</th>
				<th>Price</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
		<% for phone in @models %>
			<tr>
				<td><a href="/models/<%= phone.id %>"><%= phone.id %></a></td>
				<td><%= phone.make %></td>
				<td><%= phone.phone_model %></td>
				<td><%= "£" + phone.price %></td>
				<td><%= phone.created_at %></td>
			</tr>
		<% end %>
		<tr>
			<td id="desc" colspan="5" data-controls-modal="descModal">Descriptions</td>
		</tr>
		</tbody>
	</table>
	<script>
		$('#desc').
	</script>
	<hr> 
	<h2>Customers</h2>
	<table class="bordered-table zebra-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
				<th>Password</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<% for customer in @customers %>
				<tr>
					<td><%= customer.id %></th>
					<td><%= customer.fname %></td>
					<td><%= customer.lname %></td>
					<td><%= customer.email %></td>
					<td><%= customer.passwd.hash %></td>
					<td><%= customer.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
		<h6>Add Entries</h6>
	
	<form action="/admin" method="post">
		<h6>Models</h6>
		<div class="clearfix">
			Make: <input class="xlarge" id="modelsMake" name="make" type="text" size="30">
		</div>
		<div class="clearfix">
			Model: <input class="xlarge" id="modelsModel" name="model" type="text" size="30">
		</div>
		<div class="clearfix">
			Price: <input class="xlarge" id="modelsPrice" name="price" type="text" size="15">
		</div>
		<!-- <div class="clearfix">
			Description: <textarea class="xxlarge" id="modelsDesc" name="desc" rows="3"></textarea>
		</div> -->
		<hr>
		<h6>Customers</h6>
		<div class="clearfix">
			First name: <input class="xlarge" id="custFirstName" name="fname" type="text" size="30">
		</div>
		<div class="clearfix">
			Last name: <input class="xlarge" id="custLastName" name="lname" type="text" size="30">
		</div>
		<div class="clearfix">
			Email address: <input class="xlarge" id="custEmail" name="email" type="text" size="30">
		</div>
		<div class="clearfix">
			Password: <input class="xlarge" id="custPasswd" name="passwd" type="text" size="30">
		</div>
		<button class="btn primary">Commit</button>
	</form>
</div>